.App {
  font-family: "Raleway", sans-serif;
}

.App header {
  text-align: center;
  font-size: 50px;
  margin: 20px 0 40px;
  font-family: "Aboreto", cursive;
}

.App footer {
  text-align: center;
  font-size: 10px;
  margin: 30px;
}

div .container {
  max-width: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aboreto", cursive;
  text-align: center;
}

a {
  color: grey;
}
